/* Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
fieldset,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

dialog {
  color: inherit;
}

button {
  border: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  /* *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  } */
}

/* Variables */

:root {
  --background-color: #2b2827;
  /* --background-color: hsl(12, 12.8%, 7.6%); */
  --text-color: hsl(39, 24%, 85%);
  --text-brighter: hsl(0, 11%, 85%);
  --accent-color-lighter: hsl(25, 75%, 70%);
  --accent-color: hsl(23, 99%, 39%);
  --accent-color-darker: hsl(19, 64%, 42%);
  --pop-color: hsl(239, 100%, 91%);
  --pop-color-darker: hsl(239, 82%, 81%);
  --pop-color-darkest: hsl(239, 80%, 69%);
  --strip-gradient-top: linear-gradient(
    to bottom,
    hsl(23, 87%, 54%, 0) 0%,
    hsl(27, 100%, 91%) 15px,
    hsl(34, 94%, 41%, 0) 70px
  );
  --strip-gradient-bottom: linear-gradient(
    to top,
    hsl(23, 87%, 54%, 0) 0%,
    hsl(27, 100%, 91%) 15px,
    hsl(34, 94%, 41%, 0) 70px
  );
}

@media (min-width: 800px) {
  :root {
    --strip-gradient: linear-gradient(
      0deg,
      var(--accent-color) 10%,
      hsl(27, 100%, 91%) 45%,
      hsl(27, 100%, 91%) 55%,
      var(--accent-color) 90%
    );
  }
}

/* Typography */

body {
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Default Styling */

body {
  padding: 8px;
  background-color: var(--background-color);
}

p {
  line-height: 1.25;
  margin-block-start: 8px;
}

a {
  color: var(--pop-color);
  /* background-image: linear-gradient(
    to top,
    var(--pop-color-darkest),
    50%,
    var(--pop-color)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-y: bottom -50%; */
}
/* .grad {
  color: var(--pop-color);
  background-image: linear-gradient(
    to top,
    var(--pop-color-darkest),
    50%,
    var(--pop-color)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-y: -70px;
} */

a:visited {
  color: var(--pop-color-darker);
  /* background-image: linear-gradient(
    to top,
    var(--pop-color-darkest),
    50%,
    var(--pop-color-darker)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-y: bottom -50%; */
}
