---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<svg
			class="astro-a"
			width="495"
			height="623"
			viewBox="0 0 495 623"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
			aria-hidden="true"
		>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M167.19 364.254C83.4786 364.254 0 404.819 0 404.819C0 404.819 141.781 19.4876 142.087 18.7291C146.434 7.33701 153.027 0 162.289 0H332.441C341.703 0 348.574 7.33701 352.643 18.7291C352.92 19.5022 494.716 404.819 494.716 404.819C494.716 404.819 426.67 364.254 327.525 364.254L264.41 169.408C262.047 159.985 255.147 153.581 247.358 153.581C239.569 153.581 232.669 159.985 230.306 169.408L167.19 364.254ZM160.869 530.172C160.877 530.18 160.885 530.187 160.894 530.195L160.867 530.181C160.868 530.178 160.868 530.175 160.869 530.172ZM136.218 411.348C124.476 450.467 132.698 504.458 160.869 530.172C160.997 529.696 161.125 529.242 161.248 528.804C161.502 527.907 161.737 527.073 161.917 526.233C165.446 509.895 178.754 499.52 195.577 500.01C211.969 500.487 220.67 508.765 223.202 527.254C224.141 534.12 224.23 541.131 224.319 548.105C224.328 548.834 224.337 549.563 224.347 550.291C224.563 566.098 228.657 580.707 237.264 593.914C245.413 606.426 256.108 615.943 270.749 622.478C270.593 621.952 270.463 621.508 270.35 621.126C270.045 620.086 269.872 619.499 269.685 618.911C258.909 585.935 266.668 563.266 295.344 543.933C298.254 541.971 301.187 540.041 304.12 538.112C310.591 533.854 317.059 529.599 323.279 525.007C345.88 508.329 360.09 486.327 363.431 457.844C364.805 446.148 363.781 434.657 359.848 423.275C358.176 424.287 356.587 425.295 355.042 426.275C351.744 428.366 348.647 430.33 345.382 431.934C303.466 452.507 259.152 455.053 214.03 448.245C184.802 443.834 156.584 436.019 136.218 411.348Z"
				fill="url(#paint0_linear_1805_24383)"></path>
			<defs>
				<linearGradient
					id="paint0_linear_1805_24383"
					x1="247.358"
					y1="0"
					x2="247.358"
					y2="622.479"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-opacity="0.9"></stop>
					<stop offset="1" stop-opacity="0.2"></stop>
				</linearGradient>
			</defs>
		</svg>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul role="list" class="link-card-grid">
			<li class="right">
				<Card
					borderSide='left'
					href="https://www.bobaboard.com/"
					githubLink='https://github.com/BobaBoard'
					title="BobaBoard"
					role='Role: Contractor & Core Team Member'
				>
					<p>BobaBoard is an Open Source project building a decentralized social media platform for fandom communities, with the larger goals of promoting a free and open web, and helping people from marginalized communities get into tech by making web development skills and education accessible to people from transformative fandom.</p> 

					<p>I have been involved with BobaBoard since 2021 as both a volunteer and paid contributor. I was responsible for building our Realm invite system and Realm permissions (full stack), as well as numerous modular contributions throughout the codebases, including debugging history navigation issues and making the editor modal minimizable.</p>

					<blockquote>
						<p><em>"I've been continuously impressed by VCat's ability to deliver consistently high-quality work with little guidance. When faced with a new codebase, programming language or library, they have demonstrated an uncanny ability to dive in, independently get up to speed, and quickly become familiar with all that's needed to make progress."</em></p>
						<footer>- Ms. Boba, Project Lead</footer>
					</blockquote>
			</Card>
			</li>
			<li class="left">
				<Card
					borderSide='right'
					href="https://github.com/virtuous-cat/boba-editor-next/"
					githubLink="https://github.com/virtuous-cat/boba-editor-next/"
					title="Astrolabe/BEN"
					role='Role: Maintainer'
				>
				<p>
					Astrolabe is a new Open Source WYSIWYG editor (extending TipTap/Prosemirror) that we intend to both use for BobaBoard and ensure is easily accessible to other fandom projects of all sizes (including both large community projects and individuals building independent personal sites), with the goal of better data-sharing and portability amongst community infrastructure. For more information on our goals, please see the <a href="https://github.com/virtuous-cat/boba-editor-next/blob/main/DESIGN.md">design doc</a>.
				</p>
				<p>Boba Editor Next (BEN) is our initial experimental implementation of the design for Astrolabe.</p>
				</Card>
			</li>
			<li class="right">
				<Card
					borderSide='left'
					href="https://www.daremegame.party"
					githubLink="https://github.com/virtuous-cat/dare-me-svelte"
					title="Dare Me"
					role='Solo Project'
				>
				<p>A party game for adults with an emphasis on consent and negotiation. All the fun of Truth or Dare or Spin the Bottle, but each player gets to curate their own dare pool, letting everyone relax and not worry they are going to be asked to do something outside their limits or put unwelcome pressure on anyone else.</p>
				</Card>

			</li>
			<li class="left">
				<Card
					borderSide='right'
					href=""
					githubLink=''
					title="D&D Homebrew Initiative Tracker"
					role='Solo Project'
				>
			<p>A D&D initiative tracker for our homebrew initiative system. This initiative system was created by my DM's DM in the 1980's for 1st
        edition AD&D. I have adapted it for 5E using the house rules described on the site.</p>
			</Card>
			</li>
			<li class="right">
				<Card
					last='last'
					borderSide='left'
					href="https://pokesmash.neocities.org/"
					githubLink='https://github.com/virtuous-cat/psop-tierlist-generator'
					title="Pokemon Smash or Pass Tierlist Generator"
					role='Solo Project'
				>
				<p>Markiplier made <a href="https://www.youtube.com/watch?v=gys9oDZj-MY">a video</a>, and I needed to make a website.</p>
				<p>Is this website a joke? Yes. Is it fully functional? Also yes.</p>
				</Card>
			</li>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin-inline: auto;
		max-width: 800px;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	blockquote {
		margin-block-start: 12px;
	}
	blockquote footer {
		text-align: right;
		margin-block-start: 8px;
	}
	.link-card-grid {
		--strip-width: 4px;
		margin-inline: 8px;
		display: grid;
		row-gap: calc(var(--strip-width));
	}
	@media (min-width: 800px) {
	.link-card-grid {
		--strip-width: 12px;
		margin-inline: 0;
		grid-template-columns: 10% 1fr 10%;
		grid-template-rows: repeat(auto-fit, auto);
	}
	.left {
		grid-column: 1 / span 2;
	}
	.right {
		grid-column: 2 / span 2;
	}
	}
</style>
