---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="intro-wrapper">
			<div class="intro-inner-wrapper left">
				<div class="intro">
				<h1>VCat</h1>
				<p class="title">
					Freelance Software Developer
				</p>
				<p>
					Insert description
				</p>
				<p>Why "VCat"? I often work in communities with a culture of pseudonymity. In the interest of having all my work in one place, I have chosen to present my portfolio under the name I use in those communities.</p>
			</div>
			</div>
</div>
		<ul role="list" class="link-card-grid" aria-label="projects"	>
			<li class="right">
				<Card
					borderSide='left'
					href="https://www.bobaboard.com/"
					githubLink='https://github.com/BobaBoard'
					title="BobaBoard"
					role='Role: Contractor & Core Team Member'
				>
					<p>BobaBoard is an Open Source project building a decentralized social media platform for fandom communities, with the larger goals of promoting a free and open web, and helping people from marginalized communities get into tech by making web development skills and education accessible to people from transformative fandom.</p> 

					<p>I have been involved with BobaBoard since 2021 as both a volunteer and paid contributor. I was responsible for building our Realm invite system and Realm permissions (full stack), as well as numerous modular contributions throughout the codebases, including debugging history navigation issues and making the editor modal minimizable.</p>

					<blockquote>
						<p><em>"I've been continuously impressed by VCat's ability to deliver consistently high-quality work with little guidance. When faced with a new codebase, programming language or library, they have demonstrated an uncanny ability to dive in, independently get up to speed, and quickly become familiar with all that's needed to make progress."</em></p>
						<footer>- Ms. Boba, Project Lead</footer>
					</blockquote>
			</Card>
			</li>
			<li class="left">
				<Card
					borderSide='right'
					href="https://github.com/virtuous-cat/boba-editor-next/"
					githubLink="https://github.com/virtuous-cat/boba-editor-next/"
					title="Astrolabe/BEN"
					role='Role: Maintainer'
				>
				<p>
					Astrolabe is a new Open Source WYSIWYG editor (extending TipTap/Prosemirror) that we intend to both use for BobaBoard and ensure is easily accessible to other fandom projects of all sizes (including both large community projects and individuals building independent personal sites), with the goal of better data-sharing and portability amongst community infrastructure. For more information on our goals, please see the <a href="https://github.com/virtuous-cat/boba-editor-next/blob/main/DESIGN.md">design doc</a>.
				</p>
				<p>Boba Editor Next (BEN) is our initial experimental implementation of the design for Astrolabe.</p>
				</Card>
			</li>
			<li class="right">
				<Card
					borderSide='left'
					href="https://www.daremegame.party"
					githubLink="https://github.com/virtuous-cat/dare-me-svelte"
					title="Dare Me"
					role='Solo Project'
				>
				<p>A party game for adults with an emphasis on consent and negotiation. All the fun of Truth or Dare or Spin the Bottle, but each player gets to curate their own dare pool, letting everyone relax and not worry they are going to be asked to do something outside their limits or put unwelcome pressure on anyone else.</p>
				<p>Build with Svelte, Sveltekit, Socket.IO, Redis, Prisma, Zod and PostgreSQL. Both the game design and the website are currently in the alpha stage, with on-going development of all features and a number of additional features planned for the future.</p>
				</Card>

			</li>
			<li class="left">
				<Card
					borderSide='right'
					href="https://virtuous-cat.github.io/initiative-tracker/"
					githubLink='https://github.com/virtuous-cat/initiative-tracker'
					title="D&D Homebrew Initiative Tracker"
					role='Solo Project'
				>
			<p>A Dungeons & Dragons initiative tracker for our homebrew initiative system. This initiative system was created by my DM's DM in the 1980's for 1st
        edition AD&D. I have adapted it for 5E using the house rules described on the site.</p>
			<p>A quick little app put together with Svelte and Vite that has made running my game a whole lot easier.</p>
			</Card>
			</li>
			<li class="right">
				<Card
					last='last'
					borderSide='left'
					href="https://github.com/virtuous-cat/psop-tierlist-generator"
					githubLink='https://github.com/virtuous-cat/psop-tierlist-generator'
					title="PSOP Tierlist Generator"
					role='Solo Project'
				>
				<p>Markiplier made a video, and I needed to make a website.</p>
				<p>Is this website a joke? Yes. Is it fully functional? Also yes.</p>
				</Card>
			</li>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin-inline: auto;
		max-width: 900px;
	}
	h1 {
		font-size: 4rem;
		font-family: "handsome-pro", 'Segoe Print', 'Bradley Hand', Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
font-weight: 700;
font-style: normal;
		font-weight: 700;
		line-height: 1;
		color: var(--pop-color);
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	blockquote {
		margin-block-start: 12px;
	}
	blockquote footer {
		text-align: right;
		margin-block-start: 8px;
	}
	.link-card-grid, .intro-wrapper {
		--strip-width: 4px;
		margin-inline: 8px;
		display: grid;
		row-gap: calc(var(--strip-width));
	}
	.intro-inner-wrapper {
		position: relative;
		margin-block-end: var(--strip-width);
	}
	.intro {
		display: flex;
		flex-direction: column;
		padding-block: 30px;
		padding-inline: 16px;
		background-color: var(--background-color);
		border-radius: 42px;
	}
	.intro::before {
		content: "";
		position: absolute;
		z-index: -1;
		width: calc(50% + var(--strip-width) * 2);
		top: 0;
		bottom: calc(var(--strip-width) * -1 );
		background-color: var(--accent-color);
		background-image: var(--strip-gradient-top), var(--strip-gradient-bottom);
		right: calc(var(--strip-width) * -5);
		border-top-right-radius: calc(var(--strip-width) + 42px);
		border-bottom-right-radius: calc(var(--strip-width) + 42px);
		}

	@media (min-width: 800px) {
		.intro {
		padding-block: 80px;
		border-radius: 1000vw;
		padding-right: 146px;
	}
	.intro::before {
		/* width: calc(50%); */
		background: var(--strip-gradient);
		border-top-right-radius: 1000vw;
		border-bottom-right-radius: 1000vw;
	}
	.link-card-grid, .intro-wrapper {
		--strip-width: 12px;
		margin-inline: 0;
		grid-template-columns: 10% 1fr 10%;
	}
	.left {
		grid-column: 1 / span 2;
	}
	.right {
		grid-column: 2 / span 2;
	}
	}
</style>
