---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---

<Layout title="VCat">
	<main>
		<div>
			<a class="name" href="https://github.com/virtuous-cat">
			<h1>VCat
			</h1>
				<svg aria-label="Github" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
					<defs>
						<linearGradient id="Gradient1" x1="1" x2="0" y1="0" y2="1">
							<stop class="stop1" offset="20%" />
							<stop class="stop2" offset="50%" />
							<stop class="stop1" offset="80%" />
						</linearGradient>
					</defs>
					<path class="github" fill="currentColor" fill-rule="evenodd" d="M12 1.545c-6.055 0-10.957 4.877-10.957 10.883c0 4.41 2.643 8.205 6.447 9.912c.398.179.787.108 1.091-.12a1.38 1.38 0 0 0 .532-1.107v-.57l-1.357-.184a.489.489 0 0 1-.03-.005c-.748-.146-1.253-.409-1.623-.788c-.311-.319-.501-.701-.662-1.025l-.056-.113a11.645 11.645 0 0 0-.487-.91c-.135-.214-.24-.324-.344-.393c-.264-.175-.518-.472-.518-.843a.72.72 0 0 1 .26-.56a.844.844 0 0 1 .546-.182c.222 0 .431.068.605.146c.178.08.355.186.52.296c.402.268.798.585 1.133.976c.349.406.596.664.968.717c.306.044.618.045.861.034a2.558 2.558 0 0 1 .166-.56a8.347 8.347 0 0 1-.877-.256c-.654-.232-1.383-.593-1.873-1.14c-.538-.602-.871-1.139-1.057-1.767c-.181-.612-.211-1.275-.211-2.091c0-1.25.541-2.303.947-2.862a8.655 8.655 0 0 1-.335-1.501a3.515 3.515 0 0 1 .001-.968c.05-.293.175-.653.504-.87c.317-.211.689-.202.979-.148c.301.057.614.182.902.325c.469.232.935.542 1.284.805c.602-.177 1.667-.405 2.63-.426h.022c.964.021 1.981.249 2.568.425c.35-.262.815-.573 1.283-.804c.288-.143.6-.268.902-.325c.29-.054.662-.063.98.147c.328.218.454.578.503.871c.051.305.039.646 0 .968a8.661 8.661 0 0 1-.334 1.501c.406.56.947 1.613.947 2.862c0 .816-.03 1.479-.21 2.09c-.187.63-.52 1.166-1.058 1.768c-.49.547-1.219.908-1.873 1.14a8.45 8.45 0 0 1-1.062.297c.123.372.167.673.167.846v3.09c0 .47.219.871.53 1.105c.302.229.69.3 1.088.126c3.84-1.692 6.514-5.497 6.514-9.93c0-6.005-4.9-10.882-10.956-10.882M9.476 18.71c-.26.037-.001 0-.001 0h-.003l-.008.002l-.029.004a6.523 6.523 0 0 1-.447.037a5.782 5.782 0 0 1-1.066-.043c-.791-.112-1.272-.672-1.583-1.036l-.03-.034a3.6 3.6 0 0 0-.327-.333c.103.19.21.402.325.63l.01.02l.051.104c.175.348.29.58.481.774c.186.19.476.374 1.062.49l1.794.243a.522.522 0 0 1 .452.518v1.027c0 .8-.375 1.513-.95 1.945a2.087 2.087 0 0 1-2.143.236C2.902 21.427 0 17.27 0 12.428C0 5.836 5.377.5 12 .5s12 5.336 12 11.928c0 4.867-2.939 9.035-7.137 10.886a2.09 2.09 0 0 1-2.137-.247a2.426 2.426 0 0 1-.946-1.942v-3.09c0-.07-.049-.474-.322-1.017a.524.524 0 0 1 .408-.755a7.187 7.187 0 0 0 1.504-.356c.594-.21 1.127-.498 1.444-.852c.471-.526.706-.93.835-1.367c.134-.453.168-.98.168-1.793c0-1.141-.6-2.1-.876-2.409a.523.523 0 0 1-.104-.523a7.82 7.82 0 0 0 .375-1.554c.032-.275.034-.505.006-.671a.457.457 0 0 0-.054-.173a.486.486 0 0 0-.207.009c-.17.032-.387.112-.633.234c-.49.242-1 .6-1.316.856a.52.52 0 0 1-.505.085A9.306 9.306 0 0 0 12 7.296c-1.007.024-2.169.31-2.566.453a.52.52 0 0 1-.505-.085a7.775 7.775 0 0 0-1.316-.856a2.607 2.607 0 0 0-.634-.234a.486.486 0 0 0-.206-.009a.456.456 0 0 0-.054.173c-.028.166-.026.396.006.671A7.89 7.89 0 0 0 7.1 8.963c.063.18.024.38-.104.523c-.276.309-.876 1.268-.876 2.409c0 .812.034 1.34.168 1.793c.13.437.364.84.834 1.367c.318.354.85.642 1.445.852a7.194 7.194 0 0 0 1.503.356a.522.522 0 0 1 .246.945c-.165.118-.274.33-.335.575a1.944 1.944 0 0 0-.056.385v.019a.523.523 0 0 1-.449.523" clip-rule="evenodd"/>
					<path class="github-top" fill="currentColor" fill-rule="evenodd" d="M12 1.545c-6.055 0-10.957 4.877-10.957 10.883c0 4.41 2.643 8.205 6.447 9.912c.398.179.787.108 1.091-.12a1.38 1.38 0 0 0 .532-1.107v-.57l-1.357-.184a.489.489 0 0 1-.03-.005c-.748-.146-1.253-.409-1.623-.788c-.311-.319-.501-.701-.662-1.025l-.056-.113a11.645 11.645 0 0 0-.487-.91c-.135-.214-.24-.324-.344-.393c-.264-.175-.518-.472-.518-.843a.72.72 0 0 1 .26-.56a.844.844 0 0 1 .546-.182c.222 0 .431.068.605.146c.178.08.355.186.52.296c.402.268.798.585 1.133.976c.349.406.596.664.968.717c.306.044.618.045.861.034a2.558 2.558 0 0 1 .166-.56a8.347 8.347 0 0 1-.877-.256c-.654-.232-1.383-.593-1.873-1.14c-.538-.602-.871-1.139-1.057-1.767c-.181-.612-.211-1.275-.211-2.091c0-1.25.541-2.303.947-2.862a8.655 8.655 0 0 1-.335-1.501a3.515 3.515 0 0 1 .001-.968c.05-.293.175-.653.504-.87c.317-.211.689-.202.979-.148c.301.057.614.182.902.325c.469.232.935.542 1.284.805c.602-.177 1.667-.405 2.63-.426h.022c.964.021 1.981.249 2.568.425c.35-.262.815-.573 1.283-.804c.288-.143.6-.268.902-.325c.29-.054.662-.063.98.147c.328.218.454.578.503.871c.051.305.039.646 0 .968a8.661 8.661 0 0 1-.334 1.501c.406.56.947 1.613.947 2.862c0 .816-.03 1.479-.21 2.09c-.187.63-.52 1.166-1.058 1.768c-.49.547-1.219.908-1.873 1.14a8.45 8.45 0 0 1-1.062.297c.123.372.167.673.167.846v3.09c0 .47.219.871.53 1.105c.302.229.69.3 1.088.126c3.84-1.692 6.514-5.497 6.514-9.93c0-6.005-4.9-10.882-10.956-10.882M9.476 18.71c-.26.037-.001 0-.001 0h-.003l-.008.002l-.029.004a6.523 6.523 0 0 1-.447.037a5.782 5.782 0 0 1-1.066-.043c-.791-.112-1.272-.672-1.583-1.036l-.03-.034a3.6 3.6 0 0 0-.327-.333c.103.19.21.402.325.63l.01.02l.051.104c.175.348.29.58.481.774c.186.19.476.374 1.062.49l1.794.243a.522.522 0 0 1 .452.518v1.027c0 .8-.375 1.513-.95 1.945a2.087 2.087 0 0 1-2.143.236C2.902 21.427 0 17.27 0 12.428C0 5.836 5.377.5 12 .5s12 5.336 12 11.928c0 4.867-2.939 9.035-7.137 10.886a2.09 2.09 0 0 1-2.137-.247a2.426 2.426 0 0 1-.946-1.942v-3.09c0-.07-.049-.474-.322-1.017a.524.524 0 0 1 .408-.755a7.187 7.187 0 0 0 1.504-.356c.594-.21 1.127-.498 1.444-.852c.471-.526.706-.93.835-1.367c.134-.453.168-.98.168-1.793c0-1.141-.6-2.1-.876-2.409a.523.523 0 0 1-.104-.523a7.82 7.82 0 0 0 .375-1.554c.032-.275.034-.505.006-.671a.457.457 0 0 0-.054-.173a.486.486 0 0 0-.207.009c-.17.032-.387.112-.633.234c-.49.242-1 .6-1.316.856a.52.52 0 0 1-.505.085A9.306 9.306 0 0 0 12 7.296c-1.007.024-2.169.31-2.566.453a.52.52 0 0 1-.505-.085a7.775 7.775 0 0 0-1.316-.856a2.607 2.607 0 0 0-.634-.234a.486.486 0 0 0-.206-.009a.456.456 0 0 0-.054.173c-.028.166-.026.396.006.671A7.89 7.89 0 0 0 7.1 8.963c.063.18.024.38-.104.523c-.276.309-.876 1.268-.876 2.409c0 .812.034 1.34.168 1.793c.13.437.364.84.834 1.367c.318.354.85.642 1.445.852a7.194 7.194 0 0 0 1.503.356a.522.522 0 0 1 .246.945c-.165.118-.274.33-.335.575a1.944 1.944 0 0 0-.056.385v.019a.523.523 0 0 1-.449.523" clip-rule="evenodd"/>
				</svg>
			</a>
		</div>
		<div class="intro-wrapper">
			<div class="intro-inner-wrapper left">
				<div class="intro">
				<p class="tagline">
					I'm a software developer with a focus on high-interactivity web apps.<br />I love building things that do stuff.
				</p>
				<p>I leverage my unconventional background in client care and 3D product design to create user-centric, accessible UI for delightful user experiences. I believe in the power of the internet to connect people, and seek to build and foster online spaces that empower genuine communities.</p>
				<p>My favourite tools include <strong>TypeScript, React, Svelte, Node.js, Redis,</strong> and <strong>PostgreSQL</strong>, but nothing makes me more excited than learning something new.</p>
				<p>As of Sept 2024, I have gone back to school to formalize my computer science education and expand my industry-relevant knowledge-base to other areas of software development, including <strong>Python, Java,</strong> and <strong>C</strong>.</p>
				<p>I'm passionate about science and science communication; queer culture, fan culture, and the intersection of the two; musical theatre; and Dungeons & Dragons.</p>
				<p class="work"><strong>Interested in working with me? <a class="inline" href="mailto:vcat.webdev@gmail.com">Drop me a line.</a> I am currently looking for a 4-8 month co-op/internship position starting May 2025.</strong></p>
				<p class="vcat"><em>Why "VCat"?</em>  I often work in communities with a culture of pseudonymity. In the interest of having all my work in one place, I have chosen to present this portfolio under the name I use for dev work in those communities.</p>
			</div>
			</div>
</div>
		<ul role="list" class="link-card-grid" aria-label="projects"	>
			<li class="right">
				<Card
					borderSide='left'
					href="https://github.com/BobaBoard"
					githubLink
					title="BobaBoard"
					role='Steering Team Member, Engineering Team Member, Contractor'
					withRoleTag
					tech='TypeScript, React, Next.js, React Query, Storybook, Jest, Node.js, Express, PostgreSQL'
				>
					<p>BobaBoard is an Open Source project building a decentralized social media platform for fandom communities, with the larger goals of promoting a free and open web, and helping people from marginalized communities get into tech by making web development skills and education accessible to people from transformative fandom.</p> 

					<p>I have been involved with BobaBoard since 2021 as both a volunteer and paid contributor. I was responsible for building our Realm invite system and Realm permissions (full stack), as well as numerous modular contributions throughout the codebases, including debugging history navigation issues and making the editor modal minimizable.</p>

					<blockquote>
						<p><em>"I've been continuously impressed by VCat's ability to deliver consistently high-quality work with little guidance. When faced with a new codebase, programming language or library, they have demonstrated an uncanny ability to dive in, independently get up to speed, and quickly become familiar with all that's needed to make progress."</em></p>
						<footer>- Ms. Boba, Project Founder</footer>
					</blockquote>
			</Card>
			</li>
			<li class="left">
				<Card
					borderSide='right'
					href="https://github.com/FujoWebDev/astrolabe"
					githubLink
					title="Astrolabe/BEN"
					role='Maintainer'
					withRoleTag
					tech='TypeScript, React, Storybook, TipTap/Prosemirror, TurboRepo, Vite'
				>
				<p>
					Astrolabe is a new Open Source WYSIWYG editor (extending TipTap/Prosemirror) that we intend to both use for BobaBoard and ensure is easily accessible to other fandom projects of all sizes (including both large community projects and individuals building independent personal sites), with the goal of better data-sharing and portability amongst community infrastructure. For more information on our goals, please see the <a class="inline" href="https://github.com/FujoWebDev/astrolabe/blob/main/DESIGN.md">design doc</a>.
				</p>
				<p>Boba Editor Next (BEN) is our initial experimental implementation of the design for Astrolabe.</p>
				</Card>
			</li>
			<li class="right">
				<Card
					borderSide='left'
					href="https://store.fujocoded.com"
					title="FujoCoded Store"
					role='Contractor - Project Lead'
					withRoleTag
					tech='TypeScript, React, Next.js, Tailwind, Shopify'
				>
				<p>I project-managed and led programming of a new e-commerce front-end, including overhauling and restructuring the Next.js commerce template to align with mockup from designer and meet evolving business requirements.</p>
				<p>I also coordinated and executed the migration of the existing e-commerce back-end from Ecwid to Shopify to minimize work needed from the client to ensure the new store was ready for the target launch date.</p>
				</Card>

			</li>
			<li class="left">
				<Card
					borderSide='right'
					href="https://github.com/virtuous-cat/dare-me-svelte"
					githubLink
					title="Dare Me"
					role='Personal Solo Project'
					tech='TypeScript, Svelte, Sveltekit, Socket.IO, Redis, Prisma, Zod, PostgreSQL'
				>
				<p>A party game for adults with an emphasis on consent and negotiation. All the fun of Truth or Dare or Spin the Bottle, but each player gets to curate their own dare pool, letting everyone relax and not worry they are going to be asked to do something outside their limits or put unwelcome pressure on anyone else.</p>
				<p>Both the game design and the website are currently in the alpha stage, with on-going development of all features and a number of additional features planned for the future.</p>
				</Card>
			</li>
			<li class="right">
				<Card
					borderSide='left'
					href="https://designs.joshuastarr.ca/"
					title="Starr Designs"
					role='Contractor'
					withRoleTag
					tech='TypeScript, Astro, SCSS'
				>
				<p>I designed, built, and deployed this marketing website for a small business specializing in t-shirt printing.</p>
				<p>I leveraged SCSS to generate a semi-random rainbow gradient of stars for the hero background that is slightly different with each build of the website.</p>
				</Card>
			</li>
			<li class="left">
				<Card
					borderSide='right'
					href="#"
					title="Strands of Time"
					role='Academic Solo Project, continued as Personal Solo Project'
					tech='Python'
				>
				<p>A CLI game of time-travel and weaving rainbows. I developed an algorithm for sorting colour sequences based on the player’s response sequence to create a unique play experience, and implemented a 9x3 (X, Y) coordinate system using a 2D list to create a map and allow the player to win clues to whether they are getting closer or farther from the randomly located level goal.</p>
				<p>As this is an academic project, please contact me directly for the GitHub link.</p>
				</Card>
			</li>
			<li class="right">
				<Card
					borderSide='left'
					href="https://comp1800-202430-dtc14.web.app/"
					title="Care Compass"
					role='Academic Group Project'
					tech='JavaScript, jQuery, HTML, CSS, Bootstrap, Firebase Auth, Firebase Firestore'
				>
				<p>I led our three-person Agile team in building a demo for a web app to help Canadians find and track healthcare information across government agencies and websites. I designed and implemented the Firebase Firestore database structure, leveraging keyword aliases to group related information and allowing users to subscribe to fine-grained subsets of results. Future work towards a full implementation could include the webcrawler needed to gather the page data from the source sites.</p>
				<p>As this is an academic project, please contact me directly for the GitHub link.</p>
				</Card>
			</li>
			<li class="left">
				<Card
					last='last'
					borderSide='right'
					href="https://github.com/virtuous-cat/initiative-tracker/"
					githubLink
					title="D&D Homebrew Initiative Tracker"
					role='Solo Project'
					tech='TypeScript, Svelte, Vite'
				>
			<p>A Dungeons & Dragons initiative tracker for our homebrew initiative system. This initiative system was created by my DM's DM in the 1980's for 1st
        edition AD&D. I have adapted it for 5E using the house rules described on the site.</p>
			<p>A quick little app put together with Svelte and Vite that has made running my game a whole lot easier.</p>
			</Card>
			</li>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin-inline: auto;
		max-width: 900px;
	}
	.name {
		display: inline-flex;
		flex-wrap: wrap;
		row-gap: 12px;
		column-gap: 0.25em; 
		font-size: clamp(2rem, 10vw - 1rem, 4rem);
		margin-block-start: 0.5em;
		z-index: 2;
		text-decoration: none;
	}
	h1 {
		margin-inline-start: 24px;
		font-family: "handsome-pro", 'Segoe Print', 'Bradley Hand', Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
		font-weight: 700;
		line-height: 1;
		color: var(--pop-color);
	}
	.name svg {
		align-self: flex-end;
		width: 0.75em;
		margin-block-end: 0.25em;
	}
	.github {
		color: var(--accent-color-lighter);
	}
	.github-top {
		color: var(--accent-color-lighter);
		fill: url(#Gradient1);
		stroke-width: 1;
		opacity: 0;
		transition: opacity 300ms ease-in-out;
	}
	.stop1 {
		stop-color: var(--accent-color-lighter);
	}
	.stop2 {
		stop-color: var(--accent-color-highlight);
	}
	a:hover .github-top, a:focus-visible .github-top {
		opacity: 1;
	}
	.tagline {
		margin-block-end: 8px;
		font-weight: 900;
	}
	.vcat {
		margin-block-start: 16px;
		color: var(--accent-color-lighter);
	}
	.work {
		margin-block-start: 16px;
	}
	blockquote {
		margin-block-start: 12px;
		color: var(--accent-color-lighter);
	}
	blockquote footer {
		text-align: right;
		margin-block-start: 8px;
	}
	.link-card-grid, .intro-wrapper {
		--strip-width: 4px;
		--block-width: calc(var(--strip-width) * -1);
		--side-width: calc(var(--block-width) * 1);
		margin-inline: 8px;
		display: grid;
		row-gap: calc(var(--strip-width));
	}
	.intro-inner-wrapper {
		position: relative;
		margin-block-end: var(--strip-width);
	}
	.intro {
		display: flex;
		flex-direction: column;
		padding-block-end: 30px;
		padding-inline: 16px;
		background-color: var(--background-color);
		border-bottom-right-radius: 42px;
	}
	.intro::before {
		content: "";
		position: absolute;
		z-index: -1;
		width: 50%;
		top: 0;
		bottom: var(--block-width);
		background-color: var(--accent-color);
		background-image: var(--strip-gradient-top), var(--strip-gradient-bottom);
		right: var(--side-width);
		border-top-right-radius: calc(var(--strip-width) + 25px);
		border-bottom-right-radius: calc(var(--strip-width) + 42px);
		}

	@media (min-width: 820px) {
		.name {
			margin-inline: 8px;
		}
		.intro {
		--side-width: 0;
		padding-block-end: 80px;
		border-radius: 1000vw;
		padding-right: 146px;
	}
	.intro::before {
		background: var(--strip-gradient);
		border-top-right-radius: 1000vw;
		border-bottom-right-radius: 1000vw;
	}
	.link-card-grid, .intro-wrapper {
		--strip-width: 12px;
		--side-width: calc(var(--block-width) * 1.5);
		margin-inline: 0;
		grid-template-columns: 10% 1fr 10%;
	}
	.left {
		grid-column: 1 / span 2;
	}
	.right {
		grid-column: 2 / span 2;
	}

	@supports (animation-timeline: view()) {
		@media (prefers-reduced-motion: no-preference) {
				.intro::before {
					--strip-gradient: linear-gradient(
						0deg,
						var(--accent-color) 30%,
						hsl(27, 100%, 91%) 47%,
						hsl(27, 100%, 91%) 53%,
						var(--accent-color) 70%
					);
					background-size: auto 200%;
					background-position-y: 60%;
					transition: all 300ms linear;
					animation: large-bg-shine linear;
					animation-timeline: view();
				}

				@keyframes large-bg-shine {
					from {background-position-y: 60%;}
					to {background-position-y: 40%;}
				}
		}
	}
	}
</style>
